<html>

<h1>Friendships and Rivalries</h1>
<p>
	<button type="button" id='toggle1' onclick="friendshipFunc()">Add a Friendship between Characters</button>
</p>
	<form action = "/character_relationships" method="post" id="addFriendship">
		<fieldset>
			<legend>Character Friendships</legend>
				<div>
					<p>Select Character 1 
					<select name="friend_character1">
                    {{#each friendships}}
						<option value="{{friend1_id}}">{{friend1_id}}</option>
                    {{/each}}
                </select><br>
					</p>
				</div>
				<div>
					<p>Select Character 2
					<select name="friend_character2">
                    {{#each friendships}}
						<option value="{{friend2_id}}">{{friend2_id}}</option>
                    {{/each}}
					</select><br>
					</p>
				</div>
				<div>
					<input type="submit" value="Submit">
				</div>
		</fieldset>
	</form>
	<h3>Here are the current contents of Friend Relationship</h3>
		<table>
			<thead>
				<th>id</th>
				<th>Friend 1</th>
				<th>Friend 2</th>
				<th>Delete a Row </th>
			</thead>
			<tbody>
				{{# each friendships}}
				<tr>
					<td>{{id}}</td>
					<td>{{friend1_id}}</td>
					<td>{{friend2_id}}</td>
					<td><button>DELETE</button></td>
				</tr>
				{{/each}}
			</tbody>
		</table>

	<p>
		<button type="button" id='toggle2' onclick="rivalFunc()">Add a Rivalry between Characters</button>
	</p>
	<form action = "character_relationships" method="post" id="addRivalry">
		<fieldset>
			<legend>Rivalry</legend>
				<div>
					<p>Select Character 1
					<select name="rival_character1">
                    {{#each rivalries}}
						<option value="{{rival1_id}}">{{rival1_id}}</option>
                    {{/each}}
					</select><br>
					</p>
				</div>
				<div>
					<p>Select Character 2
						<select name="rival_character2">
						{{#each rivalries}}
							<option value="{{rival2_id}}">{{rival2_id}}</option>
						{{/each}}
						</select><br>
					</p>
				</div>
				<div>
					<input type="submit" value="Submit">
				</div>
		</fieldset>
	</form>
	<h3>Here are the current contents of Rival Relationship</h3>
	<table>
		<thead>
			<th>id</th>
			<th>Rival 1</th>
			<th>Rival 2</th>
			<th>Delete a Row</th>
		</thead>
		<tbody>
			{{#each rivalries}}
			<tr>
				<td>{{id}}</td>
				<td>{{rival1_id}}</td>
				<td>{{rival2_id}}</td>
				<td><button>DELETE</button></td>
			</tr>
				{{/each}}
			</tbody>
		</table>

</html>
