<html>

<h1>Characters, Equipment, and Cities</h1>
<p>
    <button type="button" id='toggle1' onclick="characterFunc()">Add a Character to the Database</button>
</p>
<form action="/characters/addCharacter" method="post" id="addCharacter">
    <fieldset>
        <legend>Characters</legend>
            Character name:
        <input type="text" name="character_name" required maxlength="100"><br>
            Real first name:
        <input type="text" name="real_first_name" maxlength="100"><br>
            Real last name:
        <input type="text" name="real_last_name" maxlength="100"><br>
        Select City: <select name="city">
            <option></option>
            {{#each cities}}
                <option value="{{city_id}}">{{city_name}}</option>
            {{/each}}
        </select><br>

        Select Role: <select name="role">
            <option value="TRUE">Hero</option>
            <option value="FALSE">Villain</option>
        </select><br>

        Select Mentor: <select name="mentor_id">
            <option></option>
            {{#each characters}}
                <option value="{{character_id}}"> {{character_name}}</option>
            {{/each}}
        </select><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<form id='filter_cities' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by city </label>
    <select id='city_filter' name="city_filter">
        <option></option>
        {{#each cities}}
        <option value="{{city_id}}">{{city_name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterCharactersByCity()">
</form>

<form id='search_characters_alter_ego' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search by character alter ego</label>
    <input id='alter_ego_search_string' type='text' name='alter_ego_search_string' value=''>
    <input type="button" value="Search" onclick="searchCharactersByAlterEgo()">
	<input type="button" value="Refresh" onclick="javascript:location.href='/characters'">
</form>


<h3>Here are the current contents of Character</h3>
<table>
    <thead>
        <th>id</th>
        <th>Alter Ego</th>
        <th>Real First Name</th>
        <th>Real Last Name </th>
        <th>City</th>
        <th>Role</th>
        <th>Mentor</th>
        <th>Delete a Row</th>
        <th>Update a Row</th>
    </thead>
    <tbody>
        {{#each characters}}
        <tr>
            <td>{{character_id}}</td>
            <td>{{character_name}}</td>
            <td>{{real_first_name}}</td>
            <td>{{real_last_name}}</td>
            <td>{{city_name}}</td>

            <td>{{#if role}}
      				Hero
      				{{else}}
      				Villain
      				{{/if}}
	          </td>
            <td>{{mentor_name}}</td>
            <td><button onclick="deleteCharacter({{character_id}})">Delete</button></td>
            <td><a href="/characters/{{character_id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>


 <p>
    <button type="button" id='toggle2' onclick="equipmentFunc()">Add Equipment to the Database</button>
</p>
<form action="/characters/addEquipment" method="post" id="addEquipment">
    <fieldset>
        <legend>Equipment</legend>
            Equipment name:
        <input type="text" name="equipment_name" required maxlength="100"><br>
                Description (type of equipment)
                <input type="text" name="description" required maxlength="100"><br>
                Material
                <input type="text" name="material" maxlength="100"><br>
                Owning character:
                <select name="character_id">
                    {{#each characters}}
                    <option value="{{character_id}}">{{character_name}}</option>
                    {{/each}}
                </select><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>


<h3>Here are the current contents of Equipment</h3>
<table>
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Material</th>
        <th>Owned by</th>
        <th>Delete a Row</th>
    </thead>
    <tbody>
		{{#each equipment}}
        <tr>
            <td>{{equipment_id}}</td>
            <td>{{equipment_name}}</td>
            <td>{{description}}</td>
            <td>{{material}}</td>
            <td>{{character_name}}</td>
            <td><button onclick="deleteEquipment({{equipment_id}})">DELETE</button></td>
        </tr>
		{{/each}}
    </tbody>
</table>

<p>
    <button type="button" id='toggle3' onclick="cityFunc()">Add City to the Database</button>
</p>
<form action="/characters/addCity" method="post" id="addCity">
    <fieldset>
        <legend>Cities</legend>
            City name:
        <input type="text" name="city_name" required maxlength="100">
        Real or fictional:
                <select name="real_city">
                    <option value="TRUE">Real</option>
                    <option value="FALSE">Fictional</option>
                </select><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<h3>Here are the current contents of City</h3>
<table>
    <thead>
                <th>id</th>
                <th>Name</th>
                <th>Real or Fictional</th>
                <th>Delete a Row</th>
    </thead>
    <tbody>
		    {{#each cities}}
            <tr>
                <td>{{city_id}}</td>
                <td>{{city_name}}</td>
				<td>{{#if real_city}}
				Real
				{{else}}
				Fictional
				{{/if}}
				</td>
                <td><button onclick="deleteCity({{city_id}})">DELETE</button></td>
            </tr>
           {{/each}}
    </tbody>
</table>
<script defer>selectCityFilter({{filtered_city}});</script>
<script defer>showSearchTerm("{{searched_term}}")</script>

</html>
