<html>

	<h1>Powers and Weaknesses</h1>
	<p>
		<button type="button" id='toggle1' onclick="powerFunc()">Add a Power</button>
	</p>
	<form action = "/powers_weaknesses/addPower" method="post" id="addPower" name="power_form" onsubmit="return validatePowerNumber()">
		<fieldset>
			<legend>Power</legend>
			<div>
				 Power type  <span style="color:red">(Limited to 100 letters) </span>
                 <input type="text" maxlength="100" name="power_type" required id="power_type"><br>
                Power magnitude
				<span style="color:red">(Number from 1 - 10) </span><input type="number" min="1" step="1" max="10" name="power_magnitude"><br>
				<input type="submit" value="Submit">
				<p id = "power_message"></p>
			</div>
		</fieldset>
	</form>
	<h3>Here are the current contents of Power</h3>
	<table>
		<thead>
			<th>id</th>
			<th>Power Type</th>
			<th>Power Magnitude</th>
		</thead>
		<tbody>
			{{#each powers}}
			<tr>
				<td>{{power_id}}</td>
				<td>{{power_type}}</td>
				<td>{{power_magnitude}}</td>
			</tr>
			{{/each}}
		</tbody>
		</table>
		<p>
			<button type="button" id='toggle2' onclick="powerToCharacterFunc()">Add a Power to a Character</button>
		</p>
		<form action = "/powers_weaknesses/addCharacterPower" method="post" id="addPowerToCharacter">
			<fieldset>
				<legend>Character Powers</legend>
				<div>
					<p>Select Power
						 <select name="power_id">
						{{#each powers}}
						<option value="{{power_id}}">{{power_id}}</option>
						{{/each}}
						</select><br>
					</p>
				</div>
				<div>
					<p>Select Character
						<select name="character_id">
						{{#each characters}}
							<option value="{{character_id}}">{{character_name}}</option>
						{{/each}}
						</select><br>
					</p>
				</div>
				<div>
					<input type="submit" value="Submit">
				</div>
			</fieldset>
		</form>
		<h3>Here are the current contents of Character Powers</h3>
		<table>
			<thead>
				<th>id</th>
				<th>Power Type</th>
        <th>Magnitude</th>
				<th>Character</th>
				<th>Delete a Row</th>
			</thead>
			<tbody>
				{{#each character_powers}}
				<tr>
					<td>{{id}}</td>
					<td>{{power_type}}</td>
          <td>{{power_magnitude}}</td>
					<td>{{character_name}}</td>
					<td><button onclick ="deleteCharacterPower({{id}})">DELETE</button></td>
				</tr>
				{{/each}}
			</tbody>
		</table>

		<p>
			<button type="button" id='toggle3' onclick="weaknessFunc()">Add a Weakness</button>
		</p>
		<form action = "/powers_weaknesses/addWeakness" method="post" id="addWeakness" name="weakness_form" onsubmit="return validateNumber()">
			<fieldset>
				<legend>Weakness</legend>
				<div>
					Weakness type  <span style="color:red">(Limited to 100 letters) </span>
					<input type="text" maxlength="100" required name="weakness_type" id="weakness_type"><br>
					Weakness magnitude
					<span style="color:red">(Number from 1 - 10) </span><input type="number" min="1" step="1" max="10"  id = "weakness"
					name="weakness_magnitude"><br>
					<input type="submit" value="Submit">
					<p id ="message"></p>
				</div>
			</fieldset>
		</form>
		<h3>Here are the current contents of Weakness</h3>
		<table>
			<thead>
				<th>id</th>
				<th>Weakness Type</th>
				<th>Weakness Magnitude</th>
			</thead>
			<tbody>
				{{#each weaknesses}}
				<tr>
					<td>{{weakness_id}}</td>
					<td>{{weakness_type}}</td>
					<td>{{weakness_magnitude}}</td>
				</tr>
				{{/each}}
			</tbody>

		</table>

		<p>
			<button type="button" id='toggle4' onclick="weaknessToCharacterFunc()">Add a Weakness to a Character</button>
		</p>
		<form action = "/powers_weaknesses/addCharacterWeakness" method="post" id="addWeaknessToCharacter" >
			<fieldset>
				<legend>Character Weaknesses</legend>
				<div>
					<p>Select Weakness
						 <select name="weakness_id">
						{{#each weaknesses}}
						<option value="{{weakness_id}}">{{weakness_id}}</option>
						{{/each}}
						</select><br>
					</p>
				</div>
				<div>
					<p>Select Character
						<select name="character_id">
						{{#each characters}}
							<option value="{{character_id}}">{{character_name}}</option>
						{{/each}}
						</select><br>
					</p>
				</div>
				<div>
					<input type="submit" value="Submit">
				</div>
			</fieldset>
		</form>
		<h3>Here are the current contents of Character Weaknesses</h3>
		<table>
			<thead>
				<th>id</th>
				<th>Weakness Type</th>
        <th>Magnitude</th>
				<th>Character</th>
				<th>Delete a Row</th>
			</thead>
			<tbody>
				{{#each character_weaknesses}}
				<tr>
					<td>{{id}}</td>
					<td>{{weakness_type}}</td>
          <td>{{weakness_magnitude}}</td>
					<td>{{character_name}}</td>
					<td><button onclick = "deleteCharacterWeakness({{id}})">DELETE</button></td>
				</tr>
				{{/each}}
			</tbody>

		</table>

	</html>
